{% extends 'base.html.twig' %}

{% form_theme form _self %}
{% block form_group_class -%}
    col-sm-6
{%- endblock form_group_class %}


{% block body %}
    <h1>Dodaj pojazd</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success" value="Dodaj" />
    {{ form_end(form) }}


{% endblock %}
